{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% if link_expired %}
<p> The password reset link was expired </p>
{% else %}
<form class="form-signup" action="{% url "reset_password_confirm" password_reset_token %}" method="post">{% csrf_token %}
    <h2>Reset Password Confirm</h2>
    <div class="fieldWrapper">    
        {{ form.password1.errors }}                
        <label>Password</label><br>                    
        {{ form.password1 }}
    </div>
    <br>
    <div class="fieldWrapper">
        {{ form.password2.errors }}           
        <label>Password again</label><br>
        {{ form.password2 }}
    </div>            
    <br></br>
    <input type="submit" name="submit" class="btn btn-primary" value="Change Password">
</form>
{% endif %}

